/* REGOLE GENERALI PAGINA */

body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  margin-bottom: 40px;
}

/* HEADER */

/* per dare un'altezza fissa al nostro header-top, non deve variare in base alla grandezza del display */
.header-top {
  height: 80px;
  line-height: 80px;
}

/* per avere la lista sviluppata in orizzontale e distanziata dal margine destro */
ul.navbar-menu li,
ul.navbar-language li {
  display: inline-block;
  padding-right: 10px;
}

/* per aggiungere un grassetto alla lista */
ul.navbar-menu li a,
ul.navbar-language li a {
  color: #343434;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.header-top .logo {
  vertical-align: middle;
}

/* per creare la linea tra le lingue */
ul.navbar-language :not(li:last-child) a {
  border-right: 2px solid black;
  padding-right: 10px;
}

/* jumbo */
.jumbotron {
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.jumbotron h1 {
  font-size: 32px;
}

.jumbotron p {
  margin: 10px 0;
}

/* per posizionare al centro dell'immagine il contenitore testo del jumbotron */
.jumbotron .testo {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
  width: 100%;
}

@media screen and (max-width: 992px){
  .jumbotron h1 {
    font-size: 26px;
  }
}


/* PRIMA SECTION PRODOTTI */
section#prodotti div.row > div {
  padding: 0 20px;
}

section#prodotti img {
  width: 80%;
}
section#prodotti h2 {
  padding: 100px 0 30px 0;
}

section#prodotti {
  font-size: 20px;
}

section#prodotti h3 {
  padding-bottom: 20px;
}

section#prodotti a {
  color: #0007ff;
}

/* /PRIMA SECTION PRODOTTI */

/* TERZA SECTION MOBILITY */
section#mobility .container .row {
  height: 500px;
  background-image: url("../img/scooter.f0a0397.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

section#mobility .container .row .mob-text {
  position: relative;
  height: 100%;
}

section#mobility .container .row .mob-text div {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
}


.mob-text div * {
  margin-bottom: 20px;
}

.mob-text div h2 {
  font-size: 40px;
}


.mob-text div a {
  color: white;
}

@media screen and (max-width:768px) {
  section#mobility .container .row .mob-text div {
    background-color: rgba(171, 184, 166, 0.5);
    border-radius: 5px;
    padding: 10px;
  }
}
/* /TERZA SECTION MOBILITY */


/* QUARTA SEZIONE APP */

section#app {
  color: white;
}

section#app a {
  color: white;
}



section#app .row {
  height: 100%;
}


section#app .row .app-box:first-child {
  margin-right: 40px;
}







section#app .container .row .app-box:first-child {
  background-color: #384a5a;
  padding-bottom: 0;
}

.app-box div :not(.fs-30) {
  padding-bottom: 30px;
  font-size: 18px;
}

.fs-30 {
  font-size: 30px;
  padding-bottom: 40px;
}

/* per ritagliare l'immagine dentro il box, era troppo lunga */
.cropper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

/* per ingrandire l'immagine ritagliata */
section#app img {
  width: 80%;
}


.city {
  background-image: url("../img/city.7c8c928.jpg");
  height: 100%;
  background-size: cover;
}



/* WARNING:  WARNING:  WARNING:  */
/* PER ADESSO NON SONO RIUSCITO AD ALLINEARE LA SECONDA COLONNA CON LA PRIMA, QUESTA E' UNA SOLUZIONE SCORRETTA MA PROVVISORIA */
.city img {
  display: none;
}
/* WARNING WARNING WARNING */

@media screen and (max-width:769px) {

  section#app .row .app-box:first-child {
    margin-bottom: 40px;
  }

}




@media screen and (min-width:768px) and (max-width:1270px) {

  section#app .row .app-box:first-child {
    margin-left: 20px;
  }

  section#app .row .app-box:last-child {
    margin-right: 20px;
  }

  section#app .row .app-box {
    width: calc((100% - 80px) / 2);

  }

}

@media screen and (min-width:1270px) {

  section#app .row .app-box {
    width: calc((100% - 40px) / 2);
  }

}




@media screen and (max-width:768px) {

  section#app .container {
    margin: 0 20px;
  }

}


/* /QUARTA SEZIONE APP */
